@font-face {
    font-family: 'Minecraftia';
    src: url('minecraftia/Minecraftia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    background: linear-gradient(
        to bottom,
        #fcaed0,  /* rose clair */
        #fc7ba2,  /* rose moyen */
        #ec598a   /* rose foncé */
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Minecraftia', monospace;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.center {
    min-height: 75vh;
    max-height: 85vh;
    margin-left: 1vh;
    margin-right: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    padding-top: 8vh;
    justify-content: center;
    display: flex;
    font-size: 3vh;
}


.tiktok{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 5vh;
    font-weight: normal;
    color: red;
    justify-content: center;
    align-items: center;
}


span{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 2vh;
    font-weight: normal;
    color: red;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 3.5vh;
    font-weight: bold;
    justify-content: center;
    display: flex;
    margin: 2vh;
}

#message{
    text-align: center;
    justify-content: center;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 2vh;
}

#timer{
    justify-content: center;
    display: flex;
    font-size: 2vh;
}

.rose {
    align-self: flex-end;
    margin-top: -5vh;
    width: 100px;
    height: auto;
}