@font-face {
    font-family: 'Minecraftia';
    src: url('minecraftia/Minecraftia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    position: relative;
    align-items: center;   
    background-color: #fcc2ff;
    color: #ffffff;
    justify-content: center;
    font-family: 'Minecraftia', monospace;
    margin: 0px;
}

.center {
    min-height: 78vh;
    max-height: 89vh;
    margin-left: 1vh;
    margin-right: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    padding-top: 5vh;
    justify-content: center;
    display: flex;
    font-size: 24px;
}

span{
    font-weight: normal;
    color: red;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    margin: 4px;
}

#message{
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 2vh;
}

#timer{
    justify-content: center;
    display: flex;
    font-size: 16px;
}